{{>header}} 
 
 
 {{#if estudiantes}}
     <table class="table">
     <thead class="thead-dark">
          <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Valor</th>
          <th scope="col">Estado</th>
          <th scope="col">Opción</th>
          </tr>
     </thead>
     <tbody>
          {{#each estudiantes}}
               <tr>
                    <td>{{nombre}}</td>
                    <td> {{descripcion}} </td>
                    <td>{{valor}}</td>
                    <td>{{estado}}</td>
                    <td>
                    <form action="/listaa" method="POST">
                         <input type="hidden" name='nombre' value="{{nombre}}">
                         <button class="btn btn-primary" >Ver inscriptos</button>
                    </form>
                    
                    </td>
               </tr>
            {{/each}}
     </tbody>
     </table>

     <form action="/administrar" method="POST">
          <input type="hidden" name="estado" value={{estado}}>
          <select name="curso">
               {{#each estudiantes}}
               <option> {{nombre}} </option>  
               {{/each}}
          </select>
          <button type="submit" class="btn btn-warning">Actualizar</button>
     </form>
     
{{else}}
     <h2>No hay cursos registrados</h2>
{{/if}} 
{{>footer}}